<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- <script type="module" src="./node_modules/ejs/ejs.min.js"></script> -->
    <!-- <script type="module" src="./index.js"></script> -->
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img src="images/gdlogo-bila.svg" alt="logo" class="logo">
            <h1>Meteorologická stanice GYMKC Dobříš</h1>
            <p>Aktuální informace o počasí a archiv</p>
        </div>
        <div class="info_table">
            <div class="first_col">
                <div class="date_time">
                    <div class="time_header">Poslední měření</div>
                    <div class="time">
                        <div class="hours time_element">
                            <%= data.time.hours %>
                        </div>
                        <div class="divider">:</div>
                        <div class="minutes time_element">
                            <%= data.time.minutes %>
                        </div>
                    </div>
                    <div class="date">
                        <%= data.time.day %>.<%= data.time.month %>
                    </div>
                </div>

                <div class="last_measutments">
                    <img src="" alt="current_conditions_icon" class="current_conditions_icon">
                    <div class="data">
                        <div class="temperature">
                            <%= data.last_observation.temp %>
                        </div>
                        <div class="condition">
                            <%= data.last_observation.condition %>
                        </div>

                        <div class="wind">
                            <div class="speed">
                                <%= data.last_observation.metric.windSpeed %>
                            </div>
                            <div class="direction">
                                <%= data.last_observation.winddir %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistics">
                <div class="col">
                    <div class="col_label">Dnešní data</div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                </div>

                <div class="col">
                    <div class="col_label">Dnešní data</div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                    <div class="item">
                        <div class="item_label">Teplota</div>
                        <div class="item_value">-12.5°C až 10.2°C </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>

</html>