<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">


    <script src="javascripts/chart.umd.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img src="images/gdlogo-bila.svg" alt="logo" class="logo">
            <h1>Meteorologická stanice GYMKC Dobříš</h1>
            <p>Aktuální informace o počasí a archiv</p>
        </div>
        <div class="info_table">
            <div class="first_col">
                <div class="date_time">
                    <div class="time_header">Poslední měření</div>
                    <div class="time">
                        <div class="hours time_element">
                            <%= data.time.hours %>
                        </div>
                        <div class="divider">:</div>
                        <div class="minutes time_element">
                            <%= data.time.minutes %>
                        </div>
                    </div>
                    <div class="date">
                        <%= data.time.day %>.<%= data.time.month %>
                    </div>
                </div>

                <div class="last_measutments">
                    <img src="" alt="current_conditions_icon" class="current_conditions_icon">
                    <div class="data">
                        <div class="temperature">
                            <%= data.last_observation.temp %>
                        </div>
                        <div class="condition">
                            <%= data.last_observation.condition %>
                        </div>

                        <div class="wind">
                            <div class="speed">
                                <%= data.last_observation.windSpeed %>
                            </div>
                            <div class="direction">
                                <%= data.last_observation.winddir %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statistics">
                <% data.statistics.forEach(function(column){ %>
                    <div class="col">
                        <div class="col_label">
                            <%= column.label %>
                        </div>
                        <% column.items.forEach(function(item){ %>
                            <div class="item">
                                <div class="item_label">
                                    <%= item.name %>
                                </div>
                                <div class="item_value">
                                    <% if(item.value.min){ %>
                                        <div class="value_part" data-time="<%= item.value.min.time %>">
                                            <%= item.value.min.value %> až
                                        </div>
                                        <div class="value_part" data-time="<%= item.value.max.time %>">
                                            <%= item.value.max.value %>
                                                <%= item.value.unit %>
                                        </div>
                                        <% } else{ %>
                                            <%= item.value %>
                                                <% } %>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                    <% }); %>
            </div>
        </div>


        <div class="chart_block">
            <div class="period_selector">
                <div class="period_selector_button">12 hodin</div>
                <div class="period_selector_button">1 den</div>
                <div class="period_selector_button">3 dny</div>
                <div class="period_selector_button">Týden</div>
            </div>
            <div class="chart">
                <canvas id="chart"></canvas>
                <div class="chart_data_selector">
                    <div class="chart_data_selector_option">Teplota</div>
                    <div class="chart_data_selector_option">Rychlost větru</div>
                    <div class="chart_data_selector_option">Srážky</div>
                    <div class="chart_data_selector_option">Vlhkost</div>
                    <div class="chart_data_selector_option">Rosný bod</div>
                    <div class="chart_data_selector_option">Tlak</div>
                    <div class="chart_data_selector_option">Sluneční radiace</div>
                </div>
            </div>

        </div>
    </div>

    </div>
</body>
<script src="javascripts/index.js"></script>

</html>